* {
  margin: 0;
  padding: 0;
}

:root {
  --brand-color: #212121;
  --hover-color: #2196f3;
  --studio-color: #000000;
  --contacts-color: #757575;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  --link-color: #ffffff99;
  --backgrund-button:#F5F4FA; 
}

/* style dla body na obóch stronach */

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  font-size: 18px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0, 15px;
  
}

/* style dla logo na obóch stronach */
.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  color: var(--hover-color);
  text-decoration: none;
  margin-right: 93px;
}

.studio {
  color: var(--studio-color);
}
.studio2 {
  color: var(--white-color);
}

.solution-container{
  border: 1px solid #ECECEC;
}
.container-header {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 80px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  align-content: center;
  margin-right: 371px;
}

/* style dla konkaktów w header na obóch stronach */
.link-tab {
  color: var(--contacts-color);
}

.contacts-size {
  display: flex;
  gap:46px;
}

.contacts-size2 {
  display: flex;
  font-size: 14px;
  line-height: 1.1;
  color: var(--contacts-color);
  gap: 50px;
}

.contacts-size a {
  font-size: 14px;
  line-height: 1.6;
  color: var(--brand-color);
  text-decoration: none;
}

.contacts-size:hover,
.contacts-size:focus,
.contacts-size2:hover,
.contacts-size2:focus,
.contacts-size-down:hover,
.contacts-size-down:focus,
.link-tab:hover,
.link-tab:focus {
  color: var(--hover-color);
}

.box1 {
  background-color: var(--footer-color);
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 600px;
  padding-left: 452px;
  padding-right: 452px;
}
/* style dla h1 w index.html */
.effects {
  display: flex;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--white-color);
  justify-content: center;
  align-items: center;
  max-width: 696px;
  max-height: 120px;
  padding-top: 200px;
  padding-bottom: 30px;
}

.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 200px;
}

.order-text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color);
  background-color: var(--hover-color);
  color: var(--white-color);
  align-content: center;
  border: 1px solid #2196f3;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 10px 41px 10px 42px;
  justify-content: center;
  align-items: center;

  
}
/* style dla button w index.html */
.button-index {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  color: var(--white-color);
}

.button-index:hover,
.button-index:focus,
.button-port:hover,
.button-port:focus {
  cursor: pointer;
  font-size: 16 px;
  background-color: var(--hover-color);
  color: var(--white-color);
}

.button-port{
  border: 1px solid var(--backgrund-button);
  border-radius: 4px;
  color: var(--brand-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 6px 22px 6px 22px;
}

.text-column {
  display: flex;
  column-gap: 30px;
  margin-top: 94px;
  margin-bottom: 94px;
  justify-content: center;
  align-items: center;
}

.photo {
  display: flex;
  column-gap: 30px;
  margin-bottom: 94px;
  margin-left: 215px;
  margin-right: 215px;
}

.img-size {
  padding-left: 30px;
  padding-right: 30px;
}
/* style dla h3 w index.html */
.lorem-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
}

/* style dla paragrafów w index.html */
.lorem-content {
  font-size: 14px;
  line-height: 1.7;
}

/* style dla h3 w index.html */
.two-level {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 42px;
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: 624px;
  margin-right: 624px;
}

.team {
  background-color: #f5f4fa;
 width: 1600px;
 height: 648px;
 margin-top: 94px;
 margin: 94px;
}

.card {
  display: flex;
  column-gap: 30px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 50px;
}

.shadow-card {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}

.card-discribe {
  align-self: center;
}

/* style dla john done w index.html */
.john {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  padding: 30px 99px 10px 99px;
}
/* style dla stanowisk pracy john done w index.html */
.john-job {
  font-size: 16px;
  line-height: 1.1;
  color: var(--contacts-color);
  padding: 10px 70px 30px 70px;
}

.button-list {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color);
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
  
}

.container-card{
  display:flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: 94px;
}

.border-card{
  border: 1px solid #EEEEEE;
  
}

/* style dla nazw zdjęć portfolio.html */
.img-name {
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px 4px 24px;
}

/* style dla opisu zdjęć portfolio.html */
.img-descripcion {
  font-size: 16px;
  line-height: 1.8;
  color: var(--contacts-color);
  padding: 4px 24px 20px 24px;
}

.footer {
  background-color: var(--footer-color);
  height: 252px;
}

.container-footer{
  padding: 60px 215px 60px 215px;

}

/* style dla kontaktów w footerze portfolio.html */
.contacts-size3 a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.link-color-button {
  color: var(--link-color);
}

/* style dla adresu w footerze portfolio.html */
.adress-size {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}