:root {
  --brand-color: #212121;
  --hover-color: #2196f3;
  --studio-color: #000000;
  --contacts-color: #757575;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  --link-color: #ffffff99;
  --backgrund-button:#F5F4FA; 
  --border-buttom:#ECECEC;
  --font-primary: "Roboto", sans-serif; 
  --font-secondary: "Raleway", sans-serif;  
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* style dla body na obóch stronach */
body {
  font-family: var(--font-primary);
  color: var(--brand-color);
  font-size: 18px;
}

.container {
max-width: 1200px;
margin: 0 auto;
}

.section{
  padding: 94px 0;
}

/* style dla logo na obóch stronach */
.logo {
  display: flex;
  font-family: var(--font-secondary);
  font-style: bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  color: var(--hover-color);
  text-decoration: none;
  margin-right: 93px;
}

.studio {
  color: var(--studio-color);
}
.studio2 {
  color: var(--white-color);
}

/* Style dla header na obuch stronach */
.solution-container{
  border-bottom: 1px solid var(--border-buttom);
}
.container-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 500;
}

ul {
  list-style: none;
}

.nav-menu {
  display: flex;
  align-content: center;
  margin-right: 371px;
}

/* style dla konkaktów w header na obóch stronach */
.contacts-size {
  display: flex;
  gap:46px;
}

.contacts-size2 {
  display: flex;
  font-size: 14px;
  line-height: 1.1;
  color: var(--contacts-color);
  gap: 50px;
}

.contacts-size a {
  font-size: 14px;
  line-height: 1.6;
  color: var(--brand-color);
  text-decoration: none;
}

.contacts-size:hover,
.contacts-size:focus,
.contacts-size2:hover,
.contacts-size2:focus,
.contacts-size-down:hover,
.contacts-size-down:focus,
.link-tab:hover,
.link-tab:focus {
  color: var(--hover-color);
}

.link-tab {
  color: var(--contacts-color);
}

/* style dla h1 w index.html */
.box1 {
  display: flex;
  background-color: var(--footer-color);
  text-align: center;
}

.effects {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--white-color);
  margin-top: 200px;
  margin-bottom: 30px;
}
/* Style dla przycisku w index.html */
.order-text {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color);
  background-color: var(--hover-color);
  color: var(--white-color);
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  font-family: var(--font-primary);
  font-weight: 700;
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
  margin-bottom: 200px;
}
/* style dla button w index.html */
.button-index {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  color: var(--white-color);
}

.button-index:hover,
.button-index:focus,
.button-port:hover,
.button-port:focus {
  cursor: pointer;
  font-size: 16 px;
  background-color: var(--hover-color);
  color: var(--white-color);
}

.text-column {
  display: flex;
  justify-content: space-between;
}

.photo {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* style dla h3 w index.html */
.lorem-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
}

/* style dla paragrafów w index.html */
.lorem-content {
  font-size: 14px;
  line-height: 1.7;
}

/* style dla h3 w index.html */
.two-level {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  justify-content: center;
}

.team {
  background-color: var(--backgrund-button);
}

.card {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.shadow-card {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}

/* style dla john done w index.html */
.john {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  margin: 30px 99px 10px 99px;
}

/* style dla stanowisk pracy john done w index.html */
.john-job {
  font-size: 16px;
  line-height: 1.1;
  color: var(--contacts-color);
  margin: 10px 70px 30px 70px;
}

.text-image{
  text-align: center;
}

/* Style dla portfolio.html */
.button-list {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color);
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
  
}

/* Style dla przycisków w portfolio.html */
.button-port{
  border: 1px solid var(--backgrund-button);
  border-radius: 4px;
  color: var(--brand-color);
  font-family: var(--font-primary);
  font-weight: 500;
  padding: 6px 22px 6px 22px;
}

/* Style dla kart portfolio.html  */
.container-card{
  display:flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.border-card{
  border: 1px solid #EEEEEE;
  
}

/* style dla nazw zdjęć portfolio.html */
.img-name {
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px 4px 24px;
}

/* style dla opisu zdjęć portfolio.html */
.img-descripcion {
  font-size: 16px;
  line-height: 1.8;
  color: var(--contacts-color);
  padding: 4px 24px 20px 24px;
}

/* style dla kontaktów w footerze portfolio.html */
.contacts-size3 a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.link-color-button {
  color: var(--link-color);
  padding-top: 9px;
  
}

/* style dla adresu w footerze portfolio.html */
.adress-size {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  padding-bottom: 9px;
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
}
